
.idea/DAT108-Oblig1.iml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
bin
/out
Oblig2/Oblig2.iml
Oblig1/Oblig1-Morten/Oblig1-Morten.iml
Oblig1/Oblig1-LCS/Oblig1-LCS.iml
/production
Oblig2/.DS_Store
Oblig2/src/.DS_Store
*.iml
/Oblig4/.idea
.idea/.name
.idea/uiDesigner.xml
Oblig3/src/main/resources/.DS_Store
Oblig3/src/main/.DS_Store
Oblig3/src/.DS_Store
Oblig3/.DS_Store
.DS_Store
